/**
 * Delightful
 *
 * SCSS variables
 *
 * @author Paul Groth (https://github.com/paulMrG2)
 */
$background: #262626;
$blue: #0088ff;
$blueTint: #299cff;
$headerBackground: #FFFF96;
$text: #fff;
$white: #fff;