/**
These variables should be moved to their own file, but extension-cli
doesn't allow for watching additional files in the gulpfile.
So for now they'll have to be repeated for each file :(
 */
$background: #262626;
$headerBackground: #FFFF96;
$text: #fff;
$white: #fff;