/**
 * Delightful
 *
 * SCSS Browser menu page
 *
 * @author Paul Groth (https://github.com/paulMrG2)
 */
@import "base";

.menu {
    width: 200px;

    &__buttons {
        align-items: center;
        display: flex;
        gap: 10px;
        justify-content: center;
        padding: 20px;

        &Button {
            background-color: $blue;
            color: $white;
            cursor: pointer;
            font-size: 16px;
            padding: 10px 16px;

            &:hover {
                background-color: $blueTint;
            }
        }
    }

    &__header {
        background-color: $headerBackground;
        margin-bottom: 20px;
        padding: 20px;

        &Logo {

            &Img {

            }
        }
    }

}