/**
 * Delightful
 *
 * SCSS Settings page
 *
 * @author Paul Groth (https://github.com/paulMrG2)
 */
@import "base";

input[type='checkbox'] {
    height: 16px;
    margin-right: 10px;
    width: 16px;
}

.settings {

    &__appDescription {
        font-style: italic;
    }

    &__body {
        margin: 80px auto;
        max-width: 1000px;
        padding: 0 40px;

        & h1, & h2 {
            margin-top: 60px;
        }
    }

    &__chanceOfDelightSelect {
        margin-left: 10px;
        padding: 2px;
    }

    &__columns {
        display: flex;
        gap: 40px;
    }

    &__column {
        flex-basis: 50%;
    }

    &__enabledSites, &__enabledDelights {

        &Subheading {
            margin-bottom: 20px;
        }

        &List {
            &Checkbox {
                margin-right: 5px;
            }

            &Item {
                margin-bottom: 10px;
            }

            &Label {

            }

            &Status {
                margin-left: 10px;
                padding: 2px;
            }
        }
    }

    &__header {
        background-color: $headerBackground;
        padding: 30px;

        &Logo {
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 0 auto;

            &Img {
                width: 200px;
            }
        }
    }

    &__specialThingsSpiderWebTaskAgeDays {
        margin-left: 10px;
        width: 30px;
    }

    &DelightSwitchList {

    }
}